* {
	padding: 0;
	margin: 0;
}
*:focus {
	outline: none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #bebebe;
	text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
	background: url(../img/background.png);
	background-repeat: repeat;
}
a {
	font-size: 12px;
	color: #bebebe;
	outline: none;
}
a img {
	border: none;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #bebebe;
}
a:hover {
	text-decoration: none;
	color: #bebebe;
}
a:active {
	text-decoration: none;
	color: #bebebe;
}
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 {
	font-size: 14px;
	color: #828282;
}
.clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clear { display: inline-block; }
/* start commented backslash hack \*/
* html .clear { height: 1%; }
.clear { display: block; }
/* close commented backslash hack */
.space1 { height: 1px; }
.space2 { height: 2px; }
.space3 { height: 3px; }
.space4 { height: 4px; }
.space5 { height: 5px; }
.space6 { height: 6px; }
.space7 { height: 7px; }
.space8 { height: 8px; }
.space9 { height: 9px; }
.space10 { height: 10px; }
.space11 { height: 11px; }
.space12 { height: 12px; }
.space13 { height: 13px; }
.space14 { height: 14px; }
.space15 { height: 15px; }
.space16 { height: 16px; }
.space17 { height: 17px; }
.space18 { height: 18px; }
.space19 { height: 19px; }
.space20 { height: 20px; }
.space21 { height: 21px; }
.space22 { height: 22px; }
.space23 { height: 23px; }
.space24 { height: 24px; }
.space25 { height: 25px; }
.space26 { height: 26px; }
.space27 { height: 27px; }
.space28 { height: 28px; }
.space29 { height: 29px; }
.space30 { height: 30px; }
.container {
	width: 868px;
	height: auto;
	margin: 0 auto;
}
.logo {
	width: 868px;
	height: 78px;
	background: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.header {
	width: 868px;
	height: 69px;
	background-repeat: no-repeat;
}
.header.yellow { background: url(../img/header_yellow.png); }
.header.blue { background: url(../img/header_blue.png); }
.header.green { background: url(../img/header_green.png); }
.header.red { background: url(../img/header_red.png); }
.header.purple { background: url(../img/header_purple.png); }
.header.gray { background: url(../img/header_gray.png); }
.content {
	width: 820px;
	height: auto;
	background: url(../img/content.png);
	background-repeat: repeat-y;
	padding: 13px 24px 4px 24px;
	text-align: center;
	overflow: hidden;
}
.footer {
	width: 868px;
	height: 20px;
	background: url(../img/footer.png);
	background-repeat: no-repeat;
}
.countdownTimerWrap {
	float: right;
	position: relative;
	left: -50%;
}
.countdownTimer {
	position: relative;
	left: 50%;
}
.days, .hours, .minutes, .seconds, .splitter {
	float: left;
}
.splitter {
	font-size: 64px;
	color: #acacac;
	letter-spacing: -5px;
	font-weight: bold;
	width: 24px;
	text-shadow: rgba(0, 0, 0, 0.75) 0 2px 0;
}
.number {
	font-size: 64px;
	color: #acacac;
	letter-spacing: -5px;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.75) 0 2px 0;
}
.text {
	font-size: 16px;
	color: #6e6e6e;
	margin-top: -2px;
}
.progressBar {
	width: 667px;
	height: 34px;
	background: url(../img/progress_bar_background.png);
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 3px 3px 4px 3px;
}
.progressBarFill {
	width: 50%;
	height: 34px;
	overflow: hidden;
	float: left;
}
.progressBarFillLeft {
	width: 7px;
	height: 34px;
	background-repeat: none;
	float: left;
}
.progressBarFillRight {
	width: 7px;
	height: 34px;
	background-repeat: none;
	float: right;
}
.progressBarFillMiddle {
	height: 34px;
	background-repeat: repeat-x;
	overflow: hidden;
	font-size: 16px;
	line-height: 35px;
	font-weight: bold;
}

.green .progressBarFillLeft { background: url(../img/progress_bar_fill_left_green.png); }
.blue .progressBarFillLeft { background: url(../img/progress_bar_fill_left_blue.png); }
.yellow .progressBarFillLeft { background: url(../img/progress_bar_fill_left_yellow.png); }
.purple .progressBarFillLeft { background: url(../img/progress_bar_fill_left_purple.png); }
.red .progressBarFillLeft { background: url(../img/progress_bar_fill_left_red.png); }
.gray .progressBarFillLeft { background: url(../img/progress_bar_fill_left_gray.png); }

.green .progressBarFillMiddle { background: url(../img/progress_bar_fill_middle_green.png); color: #214200; text-shadow: #d2f000 0 1px 0; }
.blue .progressBarFillMiddle { background: url(../img/progress_bar_fill_middle_blue.png); color: #001742; text-shadow: #3bd5f0 0 1px 0; }
.yellow .progressBarFillMiddle { background: url(../img/progress_bar_fill_middle_yellow.png); color: #422b00; text-shadow: #fbed00 0 1px 0; }
.purple .progressBarFillMiddle { background: url(../img/progress_bar_fill_middle_purple.png); color: #350042; text-shadow: #ef80f2 0 1px 0; }
.red .progressBarFillMiddle { background: url(../img/progress_bar_fill_middle_red.png); color: #420000; text-shadow: #f28080 0 1px 0; }
.gray .progressBarFillMiddle { background: url(../img/progress_bar_fill_middle_gray.png); color: #3f3f3f; text-shadow: #eeeeee 0 1px 0; }

.green .progressBarFillRight { background: url(../img/progress_bar_fill_right_green.png); }
.blue .progressBarFillRight { background: url(../img/progress_bar_fill_right_blue.png); }
.yellow .progressBarFillRight { background: url(../img/progress_bar_fill_right_yellow.png); }
.purple .progressBarFillRight { background: url(../img/progress_bar_fill_right_purple.png); }
.red .progressBarFillRight { background: url(../img/progress_bar_fill_right_red.png); }
.gray .progressBarFillRight { background: url(../img/progress_bar_fill_right_gray.png); }

.progressDescription {
	width: 412px;
	height: auto;
	margin: 0 auto;
}
.progressDescriptionHeader {
	width: 412px;
	height: 20px;
	background: url(../img/progress_description_header.png);
	background-repeat: no-repeat;
}
.progressDescriptionMiddle {
	width: 300px;
	height: auto;
	padding: 5px 56px;
	background: url(../img/progress_description_middle.png);
	background-repeat: repeat-y;
}
.progressDescriptionMiddle h1 {
	font-size: 16px;
	color: #ddd;
	padding-bottom: 5px;
}
.progressDescriptionMiddle p {
	font-size: 14px;
	color: #bbb;
}
.progressDescriptionFooter {
	width: 412px;
	height: 10px;
	background: url(../img/progress_description_footer.png);
	background-repeat: no-repeat;
}
.bottomBar {
	height: 39px;
	width: 98px; /* 147px for 3 icons */
	margin: 0 auto;
	padding: 0;
}
.followUs {
	height: 39px;
	float: left;
	overflow: hidden;
}
.notifyMe {
	height: 39px;
	float: right;
	overflow: hidden;
}
.boxIndent {
	height: 39px;
	overflow: hidden;
}
.boxIndent.icon {
	width: 38px;
	float: left;
	margin-right: 11px;
}
.boxIndent.notify {
	width: 266px;
	float: right;
}
.boxIndentLeft {
	width: 4px;
	height: 39px;
	background: url(../img/box_indent_left.png);
	background-repeat: no-repeat;
	float: left;
}
.boxIndentMiddle {
	height: 30px;
	background: url(../img/box_indent_middle.png);
	background-repeat: repeat-x;
	overflow: hidden;
	padding: 4px 0 5px 0;
}
.boxIndentRight {
	width: 4px;
	height: 39px;
	background: url(../img/box_indent_right.png);
	background-repeat: no-repeat;
	float: right;
}
.boxIndentContent {
	width: 30px;
	height: 30px;
	overflow: hidden;
	max-height: 30px;
	max-width: 30px;
}
.boxIndentContent a img {
	margin: -1px;
	opacity: .70;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: .70;
	-moz-opacity: .70;
}
.boxIndentContent a:hover img {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)";
	-khtml-opacity: 1;
	-moz-opacity: 1;
}
.notifyMeInput {
	width: 168px;
	height: 39px;
	padding-right: 4px;
	float: left;
	overflow: hidden;
}
.notifyMeInputLeft {
	width: 3px;
	height: 39px;
	background: url(../img/notify_me_input_left.png);
	background-repeat: no-repeat;
	float: left;
}
.notifyMeInputRight {
	width: 3px;
	height: 39px;
	background: url(../img/notify_me_input_right.png);
	background-repeat: no-repeat;
	float: right;
}
.notifyMeInputMiddle {
	height: 39px;
	background: url(../img/notify_me_input_middle.png);
	background-repeat: repeat-x;
	overflow: hidden;
	padding: 0 4px;
}
.notifyMeInputMiddle input {
	width: 100%;
	border: none;
	background: transparent;
	font-size: 13px;
	color: #282828;
	height: 30px;
	line-height: 30px;
}
.notifyMeSubmit {
	height: 39px;
	width: 86px;
	float: right;
}